
/*Button Styles
------------------------------------*/
.btn {
    box-shadow: none;
}

.btn-u {
    white-space: nowrap;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    display: inline-block;
    text-decoration: none;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.btn-u {
    /*padding: 4px 13px;*/
    /*vertical-align: middle;*/
}

.btn-u-sm,
a.btn-u-sm {
    padding: 3px 12px;
}

.btn-u-lg,
a.btn-u-lg {
    font-size: 18px;
    padding: 10px 25px;
}

.btn-u-xs,
a.btn-u-xs {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
}

/*Button Groups*/
.btn-group .dropdown-menu > li > a {
    padding: 3px 13px;
}

.btn-group > .btn-u,
.btn-group-vertical > .btn-u {
    float: left;
    position: relative;
}

.btn-group > .btn-u:first-child {
    margin-left: 0;
}