<section class="component">
    <div class="card-deck">
        <div class="card">
            <span class="fa-stack circle-icon fa-res">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-code fa-stack-1x fa-inverse fa-res"></i>
            </span>
            <h5>
                <i class="fas fa-code"></i>
                Front-End Development
            </h5>
            <p>
                We provide rich user experiences and front-end web apps. Blending speed and modern
                techniques to build software that works exactly as you expect
            </p>
        </div>

        <div class="card">
            <span class="fa-stack fa-3x circle-icon fa-res">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-user-friends fa-stack-1x fa-inverse fa-res"></i>
            </span>
            <h5>
                <i class="fas fa-user-friends"></i>
                DevOps
            </h5>
            <p>
                In todays enterprise DevOps has become a first class citizen. we use tools
                including Jenkins and Docker to help make it happen.
            </p>
        </div>

        <div class="card">
            <span class="fa-stack fa-3x circle-icon fa-res">
              <i class="fas fa-circle fa-stack-2x "></i>
              <i class="fas fa-drafting-compass fa-stack-1x fa-inverse fa-res"></i>
            </span>
            <h5>
                <i class="fas fa-drafting-compass"></i>
                Responsive Design
            </h5>
            <p>
                Designing modern web experiences that deliver value for customers and employees across many devices
                and screen sizes through responsive design
            </p>
        </div>
    </div>
</section>