<footer class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- About -->
        <div class="headline"><h2>ABOUT</h2></div>
        <p class="margin-bottom-25 md-margin-bottom-40">
          Imagine-It is a boutique firm dedicated to partnering with small business in the greated Denver
          area.
        </p>
      </div>

      <div class="col-md-4">
        <br>
      </div>

      <div class="col-md-4">
        <div class="headline"><h2>CONTACT US</h2></div>
        <br>
        <app-social-icon icon="email" size="fa-3x" link="mailto:lendog75@yahoo.com"></app-social-icon>
        <app-social-icon icon="facebook" size="fa-3x" link="https://www.facebook.com/Imagine-It-650833551697472/?ref=your_pages"></app-social-icon>
        <app-social-icon icon="twitter" size="fa-3x" link="https://twitter.com/leonardlreed"></app-social-icon>
        <app-social-icon icon="linkedin" size="fa-3x" link="https://www.linkedin.com/in/lenny-reed-533a85b/"></app-social-icon>
        <app-social-icon icon="github" size="fa-3x" link="https://github.com/lendog75"></app-social-icon>
      </div>
    </div>
  </div>
</footer>

<footer class="copyright">
  <div class="container ">
    <div class="row">
      <div class="col">
        2018 © IMAGINE-IT.COM ALL Rights Reserved.
      </div>
    </div>
  </div>
</footer>
