@import '../../_variables';

.headline {
  display: block;
  margin: 10px 0 0 0;
  border-bottom: 1px dotted $grey-lighter;

  h2, h3, h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $brand;
  }
}

footer {
  color: #dadada;
  background: $grey-dark;
  padding: 20px 0 30px;

  h2, h3, h4 {
    color: $grey-lighter;
    background: none;
    text-shadow: none;
  }

  h2 {
    font-size: 22px;
  }

  a:hover {
    color: $brand-light;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }






  .footer p, .footer a {
    font-size: 14px;
  }
}
.copyright {
  font-size: 12px;
  padding: 11px 0 7px;
  background: $grey-darker;
  border-top: solid 1px $grey;
  //padding: 1em;
}
