<section class="info-block component">
    <div class="equalHWrap eqWrap row1">
        <div class="equalHW eq">
            <div class="content">
                <h3>A Local Touch</h3>
                <p>
                    At Imagine-It we are committed to maintaining our local touch, partnering with our clients to meet
                    their needs.
                </p>

            </div>
        </div>
        <div class="equalHW eq women"></div>
        <div class="equalHW eq">
            <div class="content">
                <h3>Experience Matters</h3>
                <p>
                    I have over 20 years experience developing web applications for both startups and enterprise
                </p>
            </div>
        </div>
    </div>
    <div class="equalHWrap eqWrap row2">
        <div class="equalHW eq tablet-coffee"></div>
        <div class="equalHW eq" style="background-color:#7398AA; color:white">
            <div class="content">
                <h3>The Value of Craftsmanship</h3>
                <p>
                    We create value for our clients through our commitment to good craftsmanship and quality in all we
                    do.
                </p>
            </div>
        </div>
        <div class="equalHW eq javascript-code"></div>
    </div>
</section>