<section class="page-container" [@pageTrigger]="">
    <h2>Contact</h2>
    <hr>

    <p>
        We provide our clients with great design and modern application development services. Contact us to discuss your next project today.
    </p>

    <p>
        Dignissim convallis aenean et tortor at risus viverra adipiscing. Senectus et netus et malesuada fames.
        Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Tristique senectus et netus et malesuada.
        Eu feugiat pretium nibh ipsum consequat nisl vel pretium. Varius duis at consectetur lorem donec massa.
        Augue interdum velit euismod in pellentesque. Volutpat maecenas volutpat blandit aliquam. Nunc sed id semper
        risus in. Eget nunc lobortis mattis aliquam faucibus. At tempor commodo ullamcorper a lacus vestibulum sed arcu
        non. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Quis lectus nulla at
        volutpat
        diam. Aliquam eleifend mi in nulla posuere. Volutpat blandit aliquam etiam erat velit scelerisque in dictum non.
    </p>

    <!--<div class="x" style="padding: 1em;">-->

    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-sm">-->
    <!--<h3>Contact Us</h3>-->
    <!--<br><br><br><br>-->

    <!--<h2>Let's work together</h2>-->
    <!--<p>-->
    <!--We'd love to help out. Drop your info here and we'll get in touch soon.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="col-sm">-->

    <!--<div class="card contact-card">-->
    <!--<h3>contact-card</h3>-->
    <!--</div>-->


    <!--</div>-->

    <!--</div>-->
    <!--</div>-->


    <!--<br><br><br><br>-->
    <!--</div>-->

</section>