<div style="margin-top: 5.2em; margin-bottom: 0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0">
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>
    <div class="x" style="padding: 1em;">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Contact Us</h3>
                    <br><br><br><br>

                    <h2>Let's work together</h2>
                    <p>
                        We'd love to help out. Drop your info here and we'll get in touch soon.
                    </p>
                </div>
                <div class="col-sm">

                    <div class="card contact-card">
                        <h3>contact-card</h3>
                    </div>


                </div>

            </div>
        </div>




        <br><br><br><br>
    </div>
</div>