
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">About Us</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About Us</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<br><br>


<!--=== Content Part ===-->
<div class="container">
    <div class="row">


        <div class="col-md-12">

            <img class="img-responsive pull-right" src="img/12.jpg" alt="">
            <p>
                Imagine-It is boutique web design firm located in Denver Colorado.
                We provide a wide range of services including internet consulting services, web design, application development, and digital branding to small companies in metro Denver and beyond.
                If your company is in metro Denver and you seek web
                design services, consider doing business with an Denver web design company like Imagine-It. Hiring a local
                Denver web design firm allows you to meet more frequently, build a more trusting relationship, and tap into the
                local network of creative and technical services.
            </p>
            <p>
                After working for years with the "big guys", including the University of Central Florida (Top 5 Research University) and Johns Hopkins,
                It became all too clear that America's small businesses were not able to take advantage of today's best technologies.  We are here to tell
                everyone, those days are over!  Founded in 2012 by Lenny Reed and Leanne Reed, our  small organization of
                talented, driven individuals focused on custom web application design and development services. Located in
                Denver, Colorado we see ourselves as part of the community. Likewise, we view our clients as
                partners and our  goals have been to grow lasting relationships with them that will stand the test of time.
            </p>

            <p>
                Although somewhat new to the market, our principals have 20 years of combined
                experience in the field. Believing that good craftsmanship and critical
                thinking are critical to producing and
                delivering
                quality products to our customers we strive to make sure everything is just right.
            </p>


            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Custom Web Design</li>
                <li><i class="fa fa-check color-green"></i> Responsive Design</li>
                <li><i class="fa fa-check color-green"></i> Database Development</li>
                <li><i class="fa fa-check color-green"></i> Content Management (CMS)</li>

            </ul><br />


            <blockquote class="hero-unify">
                <p>"We make it our business provide cutting edge solutions that at affordable prices helping you grow your business."</p>
                <small>CEO Lenny Reed</small>
            </blockquote>
        </div>

    </div>

     Leadership Team
    <div class="headline"><h2>Meet Our Leadership Team</h2></div>
    <div class="row team">
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="img/team/LennyReed.jpg" alt="" />
                <h3><a>Lenny Reed</a> <br><small>Chief Executive Officer/Principal Developer</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>


                <ul class="list-unstyled list-inline team-social">
                    <li><a href="https://twitter.com/leonardlreed"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/pub/leonard-reed/b/a85/533"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style">
                <img class="img-responsive" src="img/team/LeanneReed.jpg" alt="" />
                <h3><a>Leanne Reed</a> <br><small>General Manager/Developer</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://www.linkedin.com/in/leannereed220"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part ===-->