
<!--// State of the art-->
<!--// Craftsmanship-->
<!--// Competitave Advantage-->
<!--//Powerful Websites For Growing Companies-->
<!--// Total WebDevelopment Service Provider-->
<!--// we design state-of-the-art web sites using the most advanced technology available.
BRAND AND IDENTITY

-->

<!--Service Blocks -->
<div class="row margin-bottom-30">
    <div class="col-md-4">
        <div class="service">
            <i class="fa fa-compress service-icon"></i>

            <div class="desc">
                <h4>Fully Responsive</h4>

                <p>
                    A responsive website can provide a great user-experience across many devices and screen sizes.
                    This is an important, since it is impossible to anticipate all the devices and screen sizes
                    searchers will use to access your site.
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="service">
            <i class="fa fa-cogs service-icon"></i>

            <div class="desc">
                <h4>Competitive Advantage</h4>


                <p>

                    Imagine-It designs state-of-the-art web sites.  We do this using the most advanced technology available to
                    give your company the competitive advantage.

                </p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="service">
            <i class="fa fa-rocket service-icon"></i>

            <div class="desc">
                <h4>Powerful Websites For Growing Companies</h4>

                <p>
                    Your brand is much more than just your logo. It's your company's identity.
                    Let us be your partner, providing solid design, creativity, and a little ingenuity...
                </p>
            </div>
        </div>
    </div>


    <!--<div class="col-md-4">-->
    <!--<div class="service">-->
    <!--<i class="fa fa-cogs service-icon"></i>-->

    <!--<div class="desc">-->
    <!--<h4>HTML5 + CSS3</h4>-->

    <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor-->
    <!--mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>
<!--<!-- End Service Blocks -->