

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class=" portfolio-item">
                <div class="quotes">
                    <div class="quote">
                        “In most people’s vocabularies, design means veneer. It’s interior decorating. It’s the fabric of the curtains, or
                        on the sofa. But to me, nothing could be further from the meaning of design. Design is the fundamental soul
                        of a human-made creation that ends up expressing itself in successive outer layers of the product or service.”
                    </div>
                    <div class="author">
                        - Steve Jobs -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>