@import '../../../assets/scss/variables';

div.main-slider {
  position: relative;

  div.hero {
    height: 20rem;
    background: url('../../../assets/img/other/lenny3.small.jpg') center;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    // On screens that are 800px or less
    @media only screen and (min-width: 768px) {
      height: 30rem !important;
    }

    //On screens that are 1024px or less, set the background color to blue
    @media only screen and (min-width: 1024px) {
      background: url('../../../assets/img/other/lenny3.medium.jpg') center;
      height: 50rem !important;
    }

  }
  div.cover-text {
    padding-top: 7rem;
    padding-left: 0;
    color: white;
    z-index: 150;
    position: absolute;

    h2 {
      background-color: $brand-darker;
      padding: .15rem;
      padding-left: 2rem;
      font-size: 1rem;
      margin: .5rem 0;
      width: fit-content;

    }

    // On screens that are 800px or less
    @media only screen and (min-width: 768px) {
      padding-top: 10rem;

      h2 {
        font-size: 2rem !important;
        margin: 1.5rem 0;
        padding-left: 5rem;
        padding-right: 1.5rem;
      }
    }

    //On screens that are 1024px or less, set the background color to blue
    @media only screen and (min-width: 1024px) {
      h2 {
        font-size: 4rem !important;
      }

    }

  }
}
