@import '../../../../assets/scss/variables';

a.social-icon {
  margin: .5em;
  color: $brand;
  background-color: initial
}

a.social-icon:hover {
  color: $brand-lighter !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
