<section class="component" style="text-align: center">
    <div class="row">

        <div class="col">
            <i class="fab fa-angular fa-6x" style="color:red;"></i>
        </div>

        <div class="col">
            <img class="tech-item" src="../../../assets/img/badges/node.png" alt="nodeJs logo">
        </div>

        <div class="col">
            <i class="fab fa-html5" style="color:#e74c17;"></i>
        </div>

        <div class="col">
            <i class="fab fa-docker" style="color:lightblue;"></i>
        </div>

        <div class="col">
            <img class="tech-item" src="../../../assets/img/badges/bootstrap.gif" alt="bootstrap logo">
        </div>

        <div class="col">
            <img src="../../../assets/img/badges/firebase.gif" alt="firebase logo">
        </div>

        <div class="col">
            <img class="card-img-top" src="../../../assets/img/badges/mongodb.png" alt="mongoDB logo" style="width:9rem">
        </div>

        <div class="col">
            <i class="fab fa-css3-alt fa-6x" style="color:#006ebe;"></i>
        </div>

        <div class="col">
            <i class="fab fa-jenkins fa-6x" style="color:gray;"></i>
        </div>

        <div class="col">
            <i class="fab fa-github fa-6x" style="color:black;"></i>
        </div>

    </div>
</section>
