<section class="card-deck">
    <div class="card">
        <div style="text-align: center">
                <span class="fa-stack fa-3x circle-icon fa-res">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fas fa-drafting-compass fa-stack-1x fa-inverse fa-res"></i>
                </span>
            <h5>Responsive Design</h5>
            <p>
                Designing modern web experiences that deliver value for customers and employees across many
                devices and screen sizes
            </p>
        </div>
    </div>
    <div class="card">
        <div style="text-align: center">
                <span class="fa-stack fa-3x circle-icon fa-res">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-code fa-stack-1x fa-inverse fa-res"></i>
                </span>
            <h5>Development</h5>
            <p>
                Blending speed and modern techniques to build software that works exactly as you expect
            </p>
            <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
        </div>
    </div>
    <div class="card">
        <div style="text-align: center">
                <span class="fa-stack fa-3x circle-icon fa-res">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-user-friends fa-stack-1x fa-inverse fa-res"></i>
                </span>
            <h5>Leadership</h5>
            <p>
                Mentoring and training team members to help level up the whole team
            </p>
            <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
        </div>
    </div>

</section>