<section class="container">
    <h2>Tech Stack</h2>
    <hr>
    <div class="card-columns">
        <!--&lt;!&ndash; nodejs &ndash;&gt;-->
        <!--<app-tech-card alignDirection="right">-->
            <!--<img class="card-img-top" src="assets/img/badges/node.png" alt="Card image cap" style="padding: 1em; zoom: .5">-->
        <!--</app-tech-card>-->

        <!-- angular -->
        <app-tech-card alignDirection="center">
            <i class="fab fa-angular fa-6x" style="color:red;"></i>
        </app-tech-card>

        <!-- html5 -->
        <app-tech-card alignDirection="right">
            <i class="fab fa-html5 fa-6x" style="color:#f14a29;"></i>
        </app-tech-card>

        <!-- docker -->
        <app-tech-card alignDirection="center">
            <i class="fab fa-docker fa-6x" style="color:lightblue;"></i>
        </app-tech-card>

        <!-- firebase -->
        <app-tech-card alignDirection="left">
            <img class="card-img-top" src="../../../assets/img/badges/firebase.gif" style="margin-bottom: .5em;">
        </app-tech-card>

        <!--&lt;!&ndash; jenkins &ndash;&gt;-->
        <!--<app-tech-card align="right">-->
        <!--<i class="fab fa-jenkins fa-9x" style="color:gray;"></i>-->
        <!--</app-tech-card>-->

        <!-- github -->
        <app-tech-card alignDirection="center">
            <i class="fab fa-github fa-6x" style="color:black;"></i>
        </app-tech-card>

        <!-- css3 -->
        <app-tech-card align="center">
            <i class="fab fa-css3-alt fa-6x" style="color:blue;"></i>
        </app-tech-card>

        <!-- mongodb -->
        <app-tech-card alignDirection="center">
            <img class="card-img-top" src="../../../assets/img/badges/mongodb.png" style="margin-bottom: .5em; height: 6em;">
        </app-tech-card>

        <!-- Bootstrap -->
        <app-tech-card align="right">
            <img class="card-img-top" src="../../../assets/img/badges/bootstrap.gif"
                 style="margin-bottom: .5em; height: 6em; width: 6em" alt="Card image cap">
        </app-tech-card>

    </div>
</section>

