<section class="component">
    <h4>What I'm Reading</h4>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/assets/img/temp/post-cap.angular7.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Version 7 of Angular</h5>
                <p class="card-text">
                    The 7.0.0 release of Angular is here! This is a major release spanning the
                    entire platform, including the core framework, Angular Material, and the CLI...
                </p>
                <a href="https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c" target="_blank" class="btn btn-primary">Read More...</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="/assets/img/temp/post-cap.connection-aware-components.png">
            <div class="card-body">
                <h5 class="card-title">Connection-Aware Components</h5>
                <p class="card-text">
                    The navigator.connection object contains a read-only property named effectiveType,
                    which returns the effective connection type. That type is...
                </p>
                <a href="https://netbasal.com/connection-aware-components-in-angular-3a66bb0bab6f" target="_blank" class="btn btn-primary">Read More...</a>
            </div>
        </div>

        <div class="card d-none d-md-block">
            <img class="card-img-top" src="/assets/img/temp/post-cap.shetch-starter.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Why Sketch is the UI Designer’s Best Friend.</h5>
                <p class="card-text">
                    By: Michael Todd If you’re a web/UI/UX designer, work with one, or would like to
                    become one, this article is for you. Earlier this year, I decided to...
                </p>
                <a href="https://netbasal.com/connection-aware-components-in-angular-3a66bb0bab6f" target="_blank" class="btn btn-primary">Read More...</a>
            </div>
        </div>

        <div class="card d-none d-lg-block">
            <img class="card-img-top" src="/assets/img/temp/post-cap.shetch-starter.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Why Sketch is the UI Designer’s Best Friend.</h5>
                <p class="card-text">
                    By: Michael Todd If you’re a web/UI/UX designer, work with one, or would like to
                    become one, this article is for you. Earlier this year, I decided to...
                </p>
                <a href="https://netbasal.com/connection-aware-components-in-angular-3a66bb0bab6f" target="_blank" class="btn btn-primary">Read More...</a>
            </div>
        </div>

    </div>
</section>
