<h2>Tech Stack</h2>
<hr>

<div class="card-columns">
  <!-- angular -->
  <div class="card">
    <div class="card-header" style="text-align: center">
      <i class="fab fa-angular fa-9x" style="color:red;"></i>
      <h4 class="card-title">
        Angular
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        Angular is a TypeScript-based open-source
        front-end web application platform led by Google and a community of individuals and
        corporations.
      </p>
      <a href="https://angular.io/" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>


  <!-- css3 -->
  <div class="card">
    <div class="card-header" style="text-align: center">
      <i class="fab fa-css3-alt fa-9x" style="color:blue;"></i>
      <h4 class="card-title">
        CSS3
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        CSS3 the latest evolution of the Cascading Style Sheets language.
        It brings a lot of long-awaited novelties, like rounded corners, shadows, gradients, transitions or animations,
        as well as new layouts like multi-columns, flexible box or grid layouts. Experimental parts are vendor-prefixed
        and should either be avoided in production environments, or used with extreme caution as both their syntax and
        semantics can change in the future.
      </p>
      <a href="https://www.w3schools.com/css/css_intro.asp" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>


  <!-- html5 -->
  <div class="card">
    <div class="card-header" style="text-align: center">
      <i class="fab fa-html5 fa-9x" style="color:#f14a29;"></i>
      <h4 class="card-title">
        HTML5
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        The latest iteration of HTML addressing modern needs and expectations of websites. It deals with things like
        semantic markup, providing information about content it describes, it has become the standard for all
        modern web applications.
      </p>
      <a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>


  <!-- docker -->
  <!--<div class="card">-->
  <!--<div class="card-header" style="text-align: center">-->
  <!--<i class="fab fa-docker fa-9x" style="color:lightblue;"></i>-->
  <!--<h4 class="card-title">-->
  <!--Docker-->
  <!--</h4>-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--<p class="card-text">-->
  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
  <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut-->
  <!--enim ad minim veniam, quis nostrud-->
  <!--</p>-->
  <!--<a href="https://www.docker.com/" target="_blank" class="card-link">Learn More</a>-->
  <!--</div>-->
  <!--</div>-->

  <!-- jenkins -->
  <!--<div class="card">-->
  <!--<div class="card-header" style="text-align: center">-->
  <!--<i class="fab fa-jenkins fa-9x" style="color:gray;"></i>-->
  <!--<h4 class="card-title">-->
  <!--Jenkins-->
  <!--</h4>-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--<p class="card-text">-->
  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
  <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut-->
  <!--enim ad minim veniam, quis nostrud-->
  <!--</p>-->
  <!--<a href="https://jenkins.io/" target="_blank" class="card-link">Learn More</a>-->
  <!--</div>-->
  <!--</div>-->


  <!-- github -->
  <!--<div class="card">-->
  <!--<div class="card-header" style="text-align: center">-->
  <!--<i class="fab fa-github fa-9x" style="color:black;"></i>-->
  <!--<h4 class="card-title">-->
  <!--Github-->
  <!--</h4>-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--<p class="card-text">-->
  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
  <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut-->
  <!--enim ad minim veniam, quis nostrud-->
  <!--</p>-->
  <!--<a href="https://github.com/" target="_blank" class="card-link">Learn More</a>-->
  <!--</div>-->
  <!--</div>-->

  <!-- nodejs -->
  <div class="card ">
    <div class="card-header" style="text-align: center">
      <img class="card-img-top" src="assets/img/badges/node.png" alt="Card image cap" style="padding: 1em;">
    </div>
    <div class="card-body">
      <p class="card-text">
        As an asynchronous event driven JavaScript runtime, Node is designed to build scalable network
        applications.
      </p>
      <a href="https://nodejs.org/en/" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>

  <!-- Bootstrap -->
  <div class="card">
    <div class="card-header" style="text-align: center">
      <img class="card-img-top" src="../../assets/img/badges/bootstrap.gif"
           style="margin-bottom: .5em; height: 9em; width: 9em" alt="Card image cap">
      <h4>Botstrap 4</h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        Open source toolkit for developing with HTML, CSS, and JS. Quickly prototype ideas. Featuring a
        responsive grid system, extensive prebuilt components, and powerful plugins.
      </p>

      <a href="https://getbootstrap.com/" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>


  <!-- mongodb -->
  <div class="card ">
    <div class="card-header" style="text-align: center">
      <img class="card-img-top" src="assets/img/badges/mongodb.png"
           style="margin-bottom: .5em; height: 9em; " alt="Card image cap">
    </div>
    <div class="card-body">
      <p class="card-text">
        MongoDB is an open-source, non-relational database developed by MongoDB, Inc. MongoDB stores data as documents
        in a binary representation called BSON (Binary JSON). Related information is stored together for fast
        query access through the MongoDB query language.
      </p>

      <a href="https://www.mongodb.com/" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>


  <!-- firebase -->
  <div class="card ">
    <div class="card-header" style="text-align: center">
      <img class="card-img-top" src="assets/img/badges/firebase.gif"
           style="margin-bottom: .5em;" alt="Card image cap">
    </div>
    <div class="card-body">

      <p class="card-text">
        Firebase gives you functionality like analytics, databases, messaging and crash reporting so you can move
        quickly and focus on your users.
      </p>

      <ul>
        <li>Build apps fast, without managing infrastructure</li>
        <li>Backed by Google, trusted by top apps</li>
        <li>One platform, with products that work better together</li>
      </ul>

      <a href="https://firebase.google.com/" target="_blank" class="card-link">Learn More</a>
    </div>
  </div>
</div>
