<section class="component">
    <h4>Our Story</h4>

    <div class="row">
        <div class="col-md-12">
            <!--<div class="round-thumb-container">-->
            <!--<div class="round-thumb">-->
            <!--<span><img src="../../../assets/img/circlegallery/professor-left.jpg"></span>-->
            <!--</div>-->
            <!--<app-social-icons></app-social-icons>-->
            <!--</div>-->

            <div class="portrat-container">
                <img src="../../../assets/img/circlegallery/professor-left.jpg">
                <app-social-icons></app-social-icons>
            </div>

            <p>We are Imagine-It, a Denver web design and development consultancy dedicated to partnering
                with small business in the greater Denver area.</p>

            <p>After almost 20 years of developing web applications for organizations including
                The US Olympic Committee, Johns Hopkins, STARZ Entertainment and many others,
                consulting was the next logical step.</p>

            <p>Many of the larger consulting firms are very large national corporations.
                This does help them scale, but often times,
                a sort of less personal feel comes from that, almost like chain stores.
                We are a botique web design & development firm, and feel this allows us to better
                partner with our clients.</p>

            <p>At Imagine-It we are committed to maintaining our local touch, partnering with our clients to
                meet their
                needs.</p>

            <a href="http://lennyreed.com/docs/LennyReedResume.docx" class="btn btn-brand">
                <i class="far fa-file-word"></i>
                Download Resume
            </a>
        </div>
    </div>
</section>
