<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 animated fadeInLeft">
                <span>We provide cutting edge solutions that at affordable prices to small and medium sized businesses </span>

                <p>In doing so we are quickly earning repeat business and referrals from our Denver area web design
                    clients.
                    We custom-build every website based on each client's needs.</p>
            </div>

        </div>
    </div>
</div>
<!--/row-->
<!-- End Purchase Block -->