<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            <h2><i class="ico-lightbulb ico-white"></i>Case Study: ToolWatch Shinobi Project</h2>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-12 ">


<div>
    <h3>Need/Problem</h3>

    <p>ToolWatch's flagship applications is a very dated winforms app.</p>
    <ul>
        <li>Used a very complex and unstable merge replication system to allow users to work offline.</li>
        <li>Larger organizations suffered from poor performance</li>
        <li>All users have been plagued with unreliable behavior</li>
        <li>The app is tightly coupled. It all begins with the forms and grids, the business and data layers
            are built upon grid objects, not POCO's
        </li>
        <li>The nature of the replication system makes any changes very difficult and extremely risky. There
            have been 2 outages lasting 2 weeks or more in the last year.
        </li>
        <li>Deployment uses click-once, and different clients are on different versions.</li>
        <li>Based on a single SQL Server database</li>
    </ul>
</div>

<div>
    <h3>Requirements</h3>
    <ul>
        <li>The new app should be web based</li>
        <li>It should be connected</li>
        <li>Use a newly developed Restful API</li>
        <li>UX is to be considered a priority</li>
        <li>Must work on modern browsers</li>
        <li>Must be backward compatible with the legacy application</li>
        <li>Should use Google, Amazon, E bay and other commercial sites as inspiration</li>
        <li>Initial Minimum features include: Search, Tools, Employees, Locations, Move, and
            Authentication
        </li>
    </ul>
</div>

<div>
    <h3>Solution</h3>

    <p>
        It was decided we would develop A new application based on HTML5, CSS3, AngularJS, and Bootstrap.
        The new framework would use the newly
        developed enterprise API (REST). This will reduce the load on the single SQL server database (due to
        constantly cued merges)
    </p>
    <ul>
        <li>HTML5, CSS3, and Bootstrap will allow us to provide a fresher more interactive user
            experience.
        </li>
        <li>Angular allows the UI logic to be shifted client side, while the API will ultimately be
            responsible for ensuring all business logic/rules are implemented
        </li>
    </ul>
</div>


<div class="media well">
    <a class="pull-right" href="#">
        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/home.png" width="300" alt=""/>
        <br>
        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/home-alt.png" width="300" alt=""/>

    </a>

    <div class="media-body">
        <h4 class="media-heading">Module: Core</h4>

        <p>
            The core module is designed to be exactly that, it is the core, all other modules depend on it. It
            includes features such as Authentication,
            Navigation, and
            in-app Notifications. It is required to be included in each sub-app.
        </p>

        <p>
            Authentication is done against the Security API using email, password, and accesskey (assigned to
            each application). Upon successful
            authentication an authorization token is returned to the client. This token is to be sent along in
            all subsequent requests, identifying
            the user. If at any point client receives a status code 401, the app then requires the user to login
            again.
        </p>

        <p>
            Navigation is rather simple, the core however keeps track of which module the user is in making it
            as active in the navigation.
        </p>

        <p>
            The final feature to discuss is Notifications. Shinobi was designed to be connected from the
            beginning, one feature that was paramount was notifications. At design time, there were really two
            types of notifications. The first is what we call in-app notifications. These notifications are a
            way for the app to communicate important information to the user as it happens. Examples include an
            action being canceled, records being added to a move, or a move being submitted to ToolWatch and so
            on. Currently all in-app notifications are centered around the Move module (discussed later on).
        </p>

        <p>
            The second type of notification, comes from the server, an example of this is the server notifying
            the client that their move has been processed.
            This second type of notification becomes quite critical as the team moves further along the road
            map, moving into distributed systems. Once work
            becomes asynchronous, usually through queuing then there will be a bit of a disconnect between users
            requesting and action and the completion of
            that action (the is often referred to as “eventual consistency”). Implementing such systems are
            critical to taking the next step in scalability.
            Ultimately, server notifications will help users know when there request has been filled. Lateron,
            the roadmap calls for socket.io to further improve
            the user experience and feeling of being connected to ToolWatch systems.
        </p>
    </div>
</div>


<div class="media">
    <a class="pull-left" href="#">

        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/toolbrowser.png" width="300" alt=""/>

    </a>

    <div class="media-body">
        <h4 class="media-heading">Module: Tool</h4>


        <p>Feature: User Detail</p>

        <p>Lorem ipsum dolor sit amet, eos ponderum patrioque id. Mei sanctus minimum comprehensam no, ex sit
            mucius posidonium. Vel in alia velit utamur. Vocibus adipiscing qui ea.</p>

        <p> Mea unum rebum cotidieque ex, error option efficiantur eu nam. Menandri elaboraret disputationi est
            te. Ad his nihil dissentiunt. Mea quis omnesque adolescens an, magna signiferumque in vix.</p>

        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
    </div>


</div>


<div class="media well">
    <a class="pull-right" href="#">

        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/profile.png" width="300" alt=""/>

    </a>

    <div class="media-body">
        <h4 class="media-heading">Module: User</h4>


        <p>Feature: User Detail</p>

        <p>Lorem ipsum dolor sit amet, eos ponderum patrioque id. Mei sanctus minimum comprehensam no, ex sit
            mucius posidonium. Vel in alia velit utamur. Vocibus adipiscing qui ea.</p>

        <p> Mea unum rebum cotidieque ex, error option efficiantur eu nam. Menandri elaboraret disputationi est
            te. Ad his nihil dissentiunt. Mea quis omnesque adolescens an, magna signiferumque in vix.</p>
        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
    </div>
</div>


<div class="media">
    <a class="pull-left" href="#">

        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/location.png" width="300" alt=""/>
        <br>
        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/locations.png" width="300" alt=""/>
    </a>

    <div class="media-body">
        <h4 class="media-heading">Module: Location</h4>


        <p>Feature: Location Detail</p>

        <p>Lorem ipsum dolor sit amet, eos ponderum patrioque id. Mei sanctus minimum comprehensam no, ex sit
            mucius posidonium. Vel in alia velit utamur. Vocibus adipiscing qui ea.</p>

        <p> Mea unum rebum cotidieque ex, error option efficiantur eu nam. Menandri elaboraret disputationi est
            te. Ad his nihil dissentiunt. Mea quis omnesque adolescens an, magna signiferumque in vix.</p>

        <p> Feature: Tool Search Results</p>

        <p>Duo no appetere constituam inciderint, usu no congue recteque. Sea ex quodsi persius, ut nec rebum
            primis bonorum, ei pericula posidonium vel. Hinc dicant dolore eu nec, mazim persius albucius duo
            in. Usu exerci timeam vulputate no. Ei ius aeque aliquid equidem, libris efficiendi sed an, et
            sanctus quaestio eam. Error quodsi in vim, at quo falli movet consulatu.</p>

        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
    </div>
</div>


<div class="media well">
    <a class="pull-right" href="#">
        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/move1.png" width="300" alt=""/>
        <br>
        <img class="media-object" src="img/portfolio/Toolwatch-Shinobi/move2.png" width="300" alt=""/>
    </a>

    <div class="media-body">
        <h4 class="media-heading">Module: Move</h4>


        <p>Feature: Create Move</p>

        <p>Lorem ipsum dolor sit amet, eos ponderum patrioque id. Mei sanctus minimum comprehensam no, ex sit
            mucius posidonium. Vel in alia velit utamur. Vocibus adipiscing qui ea.</p>

        <p> Mea unum rebum cotidieque ex, error option efficiantur eu nam. Menandri elaboraret disputationi est
            te. Ad his nihil dissentiunt. Mea quis omnesque adolescens an, magna signiferumque in vix.</p>

        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>

        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>

        <p>Eu duo nibh sapientem, sumo vero legendos mei ex, has alia invenire ne. Causae mediocrem eum eu, no
            eos erat aliquando. His ea forensibus mnesarchum efficiendi, eu per nostrud menandri, eu soleat
            ponderum mei. Purto copiosae eu mei, cum quas ullum utamur ne, ius choro patrioque ut.</p>
    </div>
</div>



</div>
</div>

</div>

</div>