
<footer>
  <img src="assets/img/other/lenny-win-wide.jpg" class="footer-image">
  <div class="main-footer">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <!-- About -->
        <div class="headline"><h2>ABOUT</h2></div>
        <p class="margin-bottom-25 md-margin-bottom-40">
          We are Imagine-It, a Denver web design and development consultancy dedicated to
          partnering with small business in the greater Denver area.
        </p>
        <a href="http://lennyreed.com/docs/LennyReedResume.docx" style="color:#dadada">
          <i class="far fa-file-word"></i>
          Download Resume
        </a>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="headline"><h2>Keep in Touch</h2></div>
        <app-social-icons></app-social-icons>
      </div>
    </div>
  </div>


<div class="copyright">
  <div class="">
    <div class="row">
      <div class="col">
        2018 © IMAGINE-IT.COM ALL Rights Reserved.
      </div>
    </div>
  </div>
</div>
</footer>