
<div class="social-icon-container">
  <app-social-icon icon="email" size="fa-3x" link="mailto:lendog75@yahoo.com"></app-social-icon>
  <app-social-icon icon="facebook" size="fa-3x" link="https://www.facebook.com/Imagine-It-650833551697472/?ref=your_pages"></app-social-icon>
  <app-social-icon icon="twitter" size="fa-3x" link="https://twitter.com/leonardlreed"></app-social-icon>
  <app-social-icon icon="linkedin" size="fa-3x" link="https://www.linkedin.com/in/lenny-reed-533a85b/"></app-social-icon>
  <app-social-icon icon="github" size="fa-3x" link="https://github.com/lendog75"></app-social-icon>
</div>
