<div class="our-story">
  <h2>Our Story</h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="round-thumb-container">
          <div class="round-thumb">
            <span><img src="assets/img/circlegallery/lenny-right.jpg"></span>
          </div>
          <div>
            <app-social-icon icon="email" size="fa-3x" link="mailto:lendog75@yahoo.com"></app-social-icon>
            <app-social-icon icon="facebook" size="fa-3x" link="https://www.facebook.com/Imagine-It-650833551697472/?ref=your_pages"></app-social-icon>
            <app-social-icon icon="twitter" size="fa-3x" link="https://twitter.com/leonardlreed"></app-social-icon>
            <app-social-icon icon="linkedin" size="fa-3x" link="https://www.linkedin.com/in/lenny-reed-533a85b/"></app-social-icon>
            <app-social-icon icon="github" size="fa-3x" link="https://github.com/lendog75"></app-social-icon>
          </div>
        </div>

        <p>Imagine-It is boutique web development firm owner by Lenny Reed and located in Denver Colorado.</p>
        <p>
          After almost 20 years of developing web applications for organizations including
          The US Olympic Committee, Johns Hopkins, STARZ Entertainment and many others,
          consulting was the next logical step.
        </p>


        <p>
          All with a "local touch"
          Many of the larger consulting firms are national. This does help them scale, but often times,
          a sort of sterile feeling come from that, almost like chain stores.
        </p>

        <p>
          At Imagine-It we are committed to maintaining our local touch, partnering with our clients to meet their
          needs.
        </p>


        <p>
          We specialize in creating innovative web applications and design.
        </p>

        <ul>
          <li>web application development</li>
          <li>Angular training and mentorship</li>
          <li>Data Architecture (relational & NoSQL)</li>
          <li>DevOps using Jenkins and Docker</li>
          <li>Progressive Web Apps</li>
          <li>Hybrid apps</li>
        </ul>


        <p>Core Values:</p>
        <ul>
          <li>Craftsmanship</li>
          <li>Critical thinking</li>
          <li>Delivering quality products</li>
          <li>Modern development tools and principals</li>
          <li>Cloud based services and hosting</li>
          <li>High availability</li>
          <li>Analytics</li>
          <li>Agile principals (Scrum/Kanban)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
