<section class="page-container" [@pageTrigger]="">
    <h2>Blog</h2>
    <hr>
    <div class="card-columns">
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
        <blog-card [summary]="blogSummary"></blog-card>
    </div>
</section>