<section class="page-container" [@pageTrigger]="">

    <h2>Our Story</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="round-thumb-container">
                <img src="../../../assets/img/other/lenny2.jpg" style="height: 25rem">
                <app-social-icons></app-social-icons>
            </div>

            <section>
                <h5>Who we Are</h5>
                <p>
                    We are Imagine-It, a Denver based web design and development consultancy owned
                    and operated by Lenny Reed.
                    We are dedicated to
                    partnering with small business in the greater Denver area.

                <p>
                    After almost 20 years of developing web applications for organizations including
                    The US Olympic Committee, Johns Hopkins, STARZ Entertainment and many others,
                    consulting was the next logical step.
                </p>

                <a href="http://lennyreed.com/docs/LennyReedResume.docx" class="btn btn-brand">
                    <i class="far fa-file-word"></i>
                    Download Resume
                </a>
            </section>
            <section>
                <h5>The value of a "Local Touch"</h5>
                <p>
                    Many of the larger consulting firms are very large national corporations.
                    This does help them scale, but often times,
                    a sort of less personal feel comes from that, almost like chain stores.
                    We are a botique web design & development firm, and feel this allows us to better
                    partner with our clients.
                </p>

                <p>
                    At Imagine-It we are committed to maintaining our local touch, partnering with our clients to meet
                    their
                    needs.
                </p>
            </section>

            <section>
                <h5>We specialize in creating innovative web applications and design.</h5>

                <ul>
                    <li>web application development</li>
                    <li>Angular training and mentorship</li>
                    <li>Data Architecture (relational & NoSQL)</li>
                    <li>DevOps using Jenkins and Docker</li>
                    <li>Progressive Web Apps</li>
                    <li>Hybrid apps</li>
                </ul>
            </section>


            <section>
                <h5>Core Values:</h5>
                <ul>
                    <li>Craftsmanship</li>
                    <li>Critical thinking</li>
                    <li>Delivering quality products</li>
                    <li>Modern development tools and principals</li>
                    <li>Cloud based services and hosting</li>
                    <li>High availability</li>
                    <li>Agile principals (Scrum/Kanban)</li>
                </ul>
            </section>
        </div>
    </div>


</section>