@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/variables';

// App fonts
// https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat
// https://fonts.google.com/specimen/Roboto?selection.family=Roboto

body, p {
  font-family: 'Roboto', sans-serif;

}

body {
  font-size: 18px !important;

  ///* On screens that are 992px or less, set the background color to blue */
  //@media screen and (max-width: 992px) {
  //  height: 10rem;
  //}
  //
  ///* On screens that are 600px or less, set the background color to olive */
  //@media screen and (max-width: 600px) {
  //  height: 14rem;
  //}
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  min-height:600px;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white;
}

.btn-brand {
  color: #fff;
  background-color: $brand;
  border-color: $brand;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #548096;
  margin: .75em 0;
  padding: 0;
  width: 8em;
}

section.page-container {
  padding: 2rem;
  margin-top:6em;
}

hr {
  margin-bottom: 2rem;
}

section {
  padding: 2rem;
}
