@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/variables';

// App fonts
// https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat
// https://fonts.google.com/specimen/Roboto?selection.family=Roboto

body, p {
  font-family: 'Roboto', sans-serif;

}

body {
  font-size: 18px !important;
  background-color: white;

  @media (min-width: 1025px) {
    background-color: #dee2e638;
  }

}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  min-height: 600px;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white;
}

.btn-brand {
  color: #fff;
  background-color: $brand;
  border-color: $brand;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #548096;
  margin: .75em 0;
  padding: 0;
  width: 8em;
}

hr {
  margin-bottom: 2rem;
}

.eqWrap {
  display: flex;
}

.eq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem;
}

.equalHW {
  flex: 1;
  justify-content: center;
  vertical-align: middle !important;
}

section.page-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;


  // On screens that are 800px or less
  @media only screen and (min-width: 768px) {

  }

  //On screens that are 1024px or more
  @media only screen and (min-width: 1024px) {

    max-width: 1440px;
  }
}

  section.component {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem !important;
    max-width: 1440px;
    background-color: white;

    @media (max-width: 700px) {
      margin: 0;
    }
  }
