<!-- Footer Menu -->
<div id="footer-menu" class="hidden-tablet hidden-phone">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div id="footer-menu-logo">
                    <a  href="#"><img src="img/Mountain2.png" width="45">Imagine-It</a>
                </div>
            </div>

            <div class="col-xs-8">
                <div id="footer-menu-links">
                    <ul id="footer-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        <div class="col-xs-12">
            <p>&copy; 2014, <a href="#">Imagine-It.com</a></p>
        </div>
    </div>
</div>
