<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            <h2><i class="ico-settings ico-white"></i>Services</h2>
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 title">
                <h3>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    Site Features
                </h3>
            </div>

            <div class="col-sm-7">
                <p>Your web site can include any of the following online interactive features:</p>

                <ul>
                    <li>Database integration</li>
                    <li>Custom content based on input from the site visitor</li>
                    <li>Content management system</li>
                    <li>Social media integration (Facebook, Twitter, Pinterest, LinkedIn, etc.)</li>
                    <li>Mobile version (iPad, iPhone, Android and other mobile devices)</li>
                    <li>Password-protected areas for members (or employees) only</li>
                    <li>Photo slideshows</li>
                    <li>And lots more</li>
                </ul>
            </div>

        </div>
        <hr>

        <div class="row">
            <div class="col-sm-5 title">
                <h3>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa  fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    Web Design Technologies
                </h3>
            </div>

            <div class="col-sm-7">
                <table>
                    <tr>
                        <td><i class="fa fa-html5"></i> HTML5 / <i class="fa fa-css3"></i> CSS3</td>
                        <td><i class="fa fa-wordpress"></i> WordPress</td>
                    </tr>
                    <tr>
                        <td>JavaScript / jQuery</td>
                        <td><i class="fa fa-twitter"></i> Twitter Bootstrap</td>
                    </tr>
                    <tr>
                        <td>Responsive Design</td>
                        <td>RESTFul Api's</td>
                    </tr>
                    <tr>
                        <td>Amazon Web Services (AWS)</td>
                        <td>Microsoft Windows Azure</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-5 title">
                <h3>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    Cloud Based Solutions
                </h3>
            </div>

            <div class="col-sm-7">
                <p>
                    A cloud-based solution is like having your water supplied through your municipal utility.
                    When you turn on the tap, water comes out. Sometimes you need a little water, sometimes you need a
                    lot. Each month you are billed by the utility for the amount of water you used. You don’t ever think
                    about water storage or the pipelines to your house. The utility worries about those things for your
                    whole community.
                </p>
            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-sm-5 title">
                <h3>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    The Local Advantages
                </h3>
            </div>

            <div class="col-sm-7">
               <p>
                    Imagine-It is based in Denver, Co. We’ll meet with anyone based in metro Denver
                    and will travel to other parts of the United States. We enjoy meeting our clients face to face and
                    will make as many visits to your office as necessary. After your web site launches, we’ll schedule a
                    training session so we can educate you on how to get the most from your new site.
               </p>
            </div>

        </div>
        <hr>
    </div>
</div>