<div class="row">
    <!-- start: Icon Boxes -->
    <div class="icons-box-vert-container">
        <div class="span4">
            <div class="icons-box-vert">
                <i class="ico-cup  ico-white circle-color-full"></i>


                <div class="icons-box-vert-info">
                    <h3>Best Choice</h3>
                    <p>No other firm will work as hard as we will to help you achive each of the goals you set for your online presence</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="span4">
            <div class="icons-box-vert">
                <i class="ico-ipad ico-white circle-color-full"></i>

                <div class="icons-box-vert-info">
                    <h3>Fully Responsive</h3>
                    <p>Allowing your web presence to be shine no matter what device or platform users choose</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="span4">
            <div class="icons-box-vert">
                <i class="ico-ok ico-white circle-color-full"></i>

                <div class="icons-box-vert-info">
                    <h3>Getting Started is Easy</h3>
                    <p>Just give us a call and we will setup an inperson meeting to discuss your needs.  Call today!</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- end: Icon Boxes -->
    <div class="clear"></div>
</div>