<div class="row">
    <div class="icons-box-vert-container">

        <div class="col-sm-4">
            <div class="icons-box-vert-info">
                <h3>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa   fa-flag-checkered fa-stack-1x fa-inverse"></i>
                        </span>
                    Best Choice
                </h3>
                <p>No other firm will work as hard to help maximize your online presence</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-sm-4">
            <div class="icons-box-vert-info">
                <h3>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa  fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                    Responsive Design
                </h3>
                <p>All of our websites are fully responsive.  This allows your website to look great on a phone, tablet, or desktop</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-sm-4">
            <div class="icons-box-vert-info">
                <h3>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa  fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                    Call Today!
                </h3>
                <p>Just give us a call and we will setup an inperson meeting to discuss your needs.  Call today!</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>