
<div id="wrapper">
    <div class="container">
        <hr>
        <div class="hero-unit">
            <h3>
                it is our mission to provide cutting edge solutions that at an affordable prices to small and medium
                sized businesses. after working for years
                with the "big guys", It was all too clear that the small to medium businesses were simply being
                ignored. Those days are over!
            </h3>

            <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
        </div>

        <hr>
        <div ng-include=" 'views/partial-icon-boxes.html' "></div>
        <hr>
        <div ng-include=" 'views/partial-latest-works.html' "></div>
        <hr>
    </div>
</div>
