
<div id="wrapper">
    <div class="container">
        <hr>
        <div class="hero-unit">
            <h3>
                OUR MISSION: "To provide cutting edge solutions that at affordable prices to small and medium sized businesses."
                 In doing so we are quickly earning repeat business and referrals from our Denver area web design clients. We custom-build
                every website based on each client’s needs.




            </h3>
            <br>
            <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
        </div>

        <hr>
        <!--<div ng-include=" 'views/partial-icon-boxes.html' "></div>-->
        <div ng-include=" 'views/partial-latest-works.html' "></div>
        <hr>

        <div class=" portfolio-item">
            <div class="quotes">
                <div class="quote">
                    “In most people’s vocabularies, design means veneer. It’s interior decorating. It’s the fabric of the curtains
                    of the sofa. But to me, nothing could be further from the meaning of design. Design is the fundamental soul
                    of a human-made creation that ends up expressing itself in successive outer layers of the product or service.”
                </div>
                <div class="author">
                    - Steve Jobs -
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
