<app-main-slider></app-main-slider>

<section class="container">
  <div class="card-deck">
    <div class="card">
      <div style="text-align: center">
        <span class="fa-stack fa-3x circle-icon">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Fully Responsive</h4>
        <p>
          A responsive website can provide a great user-experience across many devices and screen sizes. This is an
          important, since it is impossible to anticipate all the devices and screen sizes searchers will use to
          access your site.
        </p>
        <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
      </div>
    </div>
    <div class="card">
      <div class="xxx" style="text-align: center">
        <span class="fa-stack fa-3x circle-icon">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-bolt fa-stack-1x fa-inverse"></i>
        </span>
        <h4>POWERFUL WEBSITES FOR GROWING COMPANIES</h4>
        <p>
          Your brand is much more than just your logo. It's your company's identity. Let us be your
          partner, providing solid design, creativity, and a little ingenuity...
        </p>
        <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
      </div>
    </div>
    <div class="card">
      <div class="xxx" style="text-align: center">
        <span class="fa-stack fa-3x circle-icon">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
        </span>
        <h4>COMPETITIVE ADVANTAGE</h4>
        <p>
          We want to help give your company a competitive advantage. To do this we leverage the
          most advanced technologies possible. Our state-of-the-art web sites will provide your business extra market
          separation form your competition.
        </p>
        <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
      </div>
    </div>
  </div>
</section>


<section class="container" style="margin-top:1em;">
  <app-our-story></app-our-story>
</section>

<section class="container" style="margin-top:1em;">
  <app-our-tech></app-our-tech>
</section>

<!--<section class="container" style="margin-top:1em;">-->
<!--<app-quotes></app-quotes>-->
<!--</section>-->


