<app-main-slider></app-main-slider>
<br>

<div class="container">
    <section>
        <div class="card-deck" [@rollInTrigger]="">
            <div class="card">
                <div style="text-align: center">
                    <span class="fa-stack fa-3x circle-icon">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-drafting-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Responsive Design</h4>
                    <p>
                        Designing modern web experiences that deliver value for customers and employees across many
                        devices and screen sizes
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="xxx" style="text-align: center">
                    <span class="fa-stack fa-3x circle-icon">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Development</h4>
                    <p>
                        Blending speed and modern techniques to build software that works exactly as you expect
                    </p>
                    <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
                </div>
            </div>
            <div class="card">
                <div class="xxx" style="text-align: center">
                    <span class="fa-stack fa-3x circle-icon">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Leadership</h4>
                    <p>
                        Mentoring and training team members to help level up the whole team
                    </p>
                    <!--<a href="#" target="_blank" class="card-link">Learn More</a>-->
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top:1em;" [@rollInTrigger]="">
        <app-our-story></app-our-story>
    </section>


    <section style="margin-top:1em;" [@rollInTrigger]="">
        <app-our-tech></app-our-tech>
    </section>

</div>


<div class="first"></div>


<!--<section class="container" style="margin-top:1em;">-->
<!--<app-quotes></app-quotes>-->
<!--</section>-->


