<nav class="new-nav-bar">
    <div class="brand child">
        <!-- Logo Image -->
        <img src="assets/img/logo/logo-main-white.png"/>
    </div>

    <div class="nav-items child">
        <ul class="" style="display: flex; flex-direction: row">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">
                    <h5>Home</h5>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/our-story" routerLinkActive="active" class="nav-link">
                    <h5><strong>Our Story</strong></h5>
                </a>
            </li>
            <li class="nav-item" style="display: inline-block">
                <a routerLink="/our-tech" routerLinkActive="active" class="nav-link">
                    <h5>Tech</h5>
                </a>
            </li>
        </ul>
    </div>
</nav>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"-->
<!--style="background-color: #7398aa !important;">-->
<!--<a class="navbar-brand" href="#" style="color: white">-->
<!--<h2 style="margin: 0;">-->
<!--<img src="assets/img/logo/logo-main-white.png" style="height:5rem;" />-->
<!--&lt;!&ndash;<span style="vertical-align: bottom; margin-left: .25rem;">IMAGINE-IT</span>&ndash;&gt;-->
<!--</h2>-->
<!--</a>-->
<!--<div class="">-->
<!--</div>-->
<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item">-->
<!--<a routerLink="/home" routerLinkActive="active" class="nav-link">-->
<!--<h5>Home</h5>-->
<!--&lt;!&ndash;<span class="sr-only">(current)</span>&ndash;&gt;-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a routerLink="/our-story" routerLinkActive="active" class="nav-link" >-->
<!--<h5>Our Story</h5>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a routerLink="/our-tech" routerLinkActive="active" class="nav-link" >-->
<!--<h5>Technologies</h5>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="/contact" routerLinkActive="active" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;<h5>Contact</h5>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->









