<!--<nav class="new-nav-bar">-->
<!--<div class="brand">-->
<!--&lt;!&ndash; Logo Image &ndash;&gt;-->
<!--</div>-->


<!--<div class="nav-items">-->

<!--</div>-->
<!---->
<!--</nav>-->



<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
     style="background-color: #7398aa !important;">
    <a class="navbar-brand" href="#" style="color: white">
        <h2 style="margin: 0;">
            <img src="assets/img/logo/logo-main-white.png" style="height:5rem;" />
            <!--<span style="vertical-align: bottom; margin-left: .25rem;">IMAGINE-IT</span>-->
        </h2>
    </a>
    <div class="">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">
                    <h5>Home</h5>
                    <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/our-story" routerLinkActive="active" class="nav-link" >
                    <h5>Our Story</h5>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/our-tech" routerLinkActive="active" class="nav-link" >
                    <h5>Technologies</h5>
                </a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a routerLink="/contact" routerLinkActive="active" class="nav-link">-->
            <!--<h5>Contact</h5>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</nav>









