<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Portfolio</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#/portfolio">Portfolio</a></li>
            <li class="active">Lenny Reed</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<br><br>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="img/portfolio/lennyreed/home.png">

                        <!--<div class="carousel-caption">-->
                            <!--<p>Facilisis odio, dapibus ac justo acilisis gestinas. </p>-->
                        <!--</div>-->
                    </div>
                </div>

                <!--<div class="carousel-arrow">-->
                    <!--<a data-slide="prev" href="index.html#/portfolio/lennyreed#myCarousel"-->
                       <!--class="left carousel-control">-->
                        <!--<i class="fa fa-angle-left"></i>-->
                    <!--</a>-->
                    <!--<a data-slide="next" href="index.html#/portfolio/lennyreed#myCarousel"-->
                       <!--class="right carousel-control">-->
                        <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>

        <!-- Content Info -->
        <div class="col-md-5">
            <h2>LennyReed.com</h2>
            <p>
                Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.

            </p>
            <p>
                Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
            </p>
            <!--<ul>-->
            <!--<li>HTML5, CSS3, and Bootstrap will allow us to provide a fresher more interactive user-->
            <!--experience. </li>-->
            <!--<li>Angular allows the UI logic to be shifted client side, while the API will ultimately be-->
            <!--responsible for ensuring all business logic/rules are implemented</li>-->
            <!--</ul>-->
        </div>
        <!--<a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a>-->
    </div>
</div>

