<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Portfolio</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#/portfolio">Portfolio</a></li>
            <li class="active">Lenny Reed</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<br><br>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="img/portfolio/lennyreed/home.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Info -->
        <div class="col-md-5">
            <h2>LennyReed.com</h2>
            <p>
                Lenny Reed (owner of Imagine-It) decided to produce a personal promotion site, allowing him to share
                his skills and interests with the world.
            </p>
            <p>
                This site includes a short bio, career highlights, a blog, and contact info.
            </p>

            <a href="http://www.lennyreed.com" target="_blank" class="btn-u btn-u-large">VISIT NOW</a>
        </div>

    </div>
</div>

