<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Portfolio</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Our Portfolio</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<br><br>



    <div class="container">
        <!-- Portfolio -->


        <div id="portfolio-wrapper" class="row">
            <div class="col-sm-4 portfolio-item world scenery">
                <div class="picture">
                    <a href="#/portfolio/littlerascals" title="Title"><img
                            src="img/portfolio/littlerascals/home.png" alt="" width="300"/>

                        <div class="item-description alt">
                            <h5><a href="#/portfolio/littlerascals">Case Study: Little Rascals Website</a></h5>
                            <p>Summary:</p>
                            <p>Comming Soon </p>
                        </div>
                        <div class="post-meta">
                            <span><i class="mini-ico-calendar"></i>September 2014</span>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-sm-4 portfolio-item nature people">
                <div class="picture">
                    <a href="#/portfolio/lennyreed" title="Title">
                        <img src="img/portfolio/lennyreed/home.png" alt="" width="300"/>

                        <div class="item-description alt">
                            <h5><a href="#/portfolio/lennyreed">Case Study: LennyReed.com</a></h5>
                            <p>Summary:</p>
                            <p>Comming Soon </p>
                        </div>
                        <div class="post-meta">
                            <span><i class="mini-ico-calendar"></i>November 2013</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 portfolio-item scenery">
                <div class="picture">
                    <a href="#/portfolio/toolwatch-shinobi" title="Title">
                        <img src="img/portfolio/toolwatch-shinobi/home-alt.png" alt="" width="300"/>

                        <div class="item-description alt">
                            <h5><a href="#/portfolio/toolwatch-shinobi">Case Study: ToolWatch Shinobi Project</a></h5>
                            <p>Summary:</p>
                            <p>Comming Soon </p>
                        </div>
                        <div class="post-meta">
                            <span><i class="mini-ico-calendar"></i>May 2014</span>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-sm-4 portfolio-item nature scenery">
                <div class="picture">
                    <a href="#/portfolio/peak1photo" title="Title">
                        <img src="img/portfolio/peak1photo/home.png" alt="" width="300"/>

                        <div class="item-description alt">
                            <h5><a href="#/portfolio/peak1photo">Case Study: Peak 1 Photography</a></h5>
                            <p>Summary:</p>
                            <p>Comming Soon </p>
                        </div>
                        <div class="post-meta">
                            <span><i class="mini-ico-calendar"></i>October 2013</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

