
<!-- Recent Works -->
<div class="headline"><h2>RECENT WORKS</h2></div>
<div class="row margin-bottom-20">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="img/portfolio/lennyreed/home.png" alt="">
                </div>
                <a class="btn-more hover-effect" href="#/portfolio/lennyreed">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="portfolio/lennyreed.html">LennyReed.com</a></h3>
                <small> Service/Technology:</small>
                <i class="fa fa-html5" title="HTML5"></i>
                <i class="fa fa-css3" title="CSS3"></i>
                <i class="fa fa-rss" title="Blog"></i>
                <i class="fa fa-camera" title="Photography"></i>

                <p>
                    Lenny Reed (owner of Imagine-It) decided to produce a personal promotion site, allowing him to share
                    his skills and interests with the world.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="img/portfolio/littlerascals/thumb-home.png" alt="">
                </div>
                <a class="btn-more hover-effect" href="#/portfolio/littlerascals">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="portfolio/littlerascals.html">Little Rascals</a></h3>
                <small> Service/Technology:</small>
                <i class="fa fa-html5" title="HTML5"></i>
                <i class="fa fa-css3" title="CSS3"></i>
                <i class="fa fa-camera" title="Photography"></i>

                <p>
                    Little Rascals (a new daycare center) looked to Imagine-It to help them form an online identity.  Imagine-It created a custom website
                    that will give potential customers real insight as to just who they are.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="img/portfolio/toolwatch-shinobi/home-alt.png" alt="">
                </div>
                <a class="btn-more hover-effect" href="#/portfolio/toolwatch-shinobi">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#/portfolio/toolwatch-shinobi">ToolWatch - Shinobi</a></h3>
                <small> Service/Technology:</small>
                <i class="fa fa-html5" title="HTML5"></i>
                <i class="fa fa-css3" title="CSS3"></i>
                <i class="fa fa-code" title="Backend/Api"></i>
                <i class="fa fa-database" title="Database"></i>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
                    sem.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
                <div class="overflow-hidden">
                    <img class="img-responsive" src="img/portfolio/peak1photo/thumb-home.png" alt="">
                </div>
                <a class="btn-more hover-effect" href="#/portfolio/peak1photo">read more +</a>
            </div>
            <div class="caption">
                <h3><a class="hover-effect" href="#/portfolio/peak1photo">Peak 1 Photo</a></h3>
                <small> Service/Technology:</small>
                <i class="fa fa-html5" title="HTML5"></i>
                <i class="fa fa-css3" title="CSS3"></i>

                <p>Peak1 Photography needed an web based solution to share their latest photos.  Imagine-It created a solution
                that makes it easy for viewers to see their work and for them to upload new content. </p>
            </div>
        </div>
    </div>
</div>
<!-- End Recent Works -->