<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#/portfolio">Portfolio</a></li>
            <li class="active">ToolWatch - Shinobi</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<br><br>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="img/portfolio/toolwatch-shinobi/home-alt.png">

                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas. </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="img/portfolio/toolwatch-shinobi/tool-auto-suggest.png">

                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="img/portfolio/toolwatch-shinobi/toolbrowser.png">

                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="" src="img/portfolio/toolwatch-shinobi/profile.png">

                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="" src="img/portfolio/toolwatch-shinobi/move2.png">

                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>

                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="index.html#/portfolio/toolwatch-shinobi#myCarousel"
                       class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="index.html#/portfolio/toolwatch-shinobi#myCarousel"
                       class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Content Info -->
        <div class="col-md-5">
            <h2>ToolWatch-Shinobi</h2>
            <p>
                ToolWatch wanted to create a new web based application to help relive some of the
                pain-points users were experiencing with their older WinForms application

            </p>
            <p>
                In order to offer the best possible user experience the new application would embrace proven yet modern technologies including  HTML5, CSS3, AngularJS, and Bootstrap.
                The new app would also use the newly developed Enterprise API (REST).
            </p>
            <ul>
                <li>HTML5, CSS3, and Bootstrap will allow us to provide a fresher more interactive user
                    experience. </li>
                <li>Angular allows the UI logic to be shifted client side, while the API will ultimately be
                    responsible for ensuring all business logic/rules are implemented</li>
            </ul>
        </div>
        <!--<a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a>-->
    </div>
</div>

